<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<servlet>
    <servlet-name>etudiantServlet</servlet-name>
    <servlet-class>com.example.presence.controller.EtudiantServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>etudiantServlet</servlet-name>
    <url-pattern>/etudiant</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>presenceServlet</servlet-name>
    <servlet-class>com.example.presence.controller.PresenceServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>presenceServlet</servlet-name>
    <url-pattern>/presence</url-pattern>
</servlet-mapping>

</web-app>
